{% load static %}
<html>
    <head>
</div>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6654d58d1783940019670cfa&product=inline-share-buttons' async='async'></script>
    <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6654d58d1783940019670cfa&product=inline-share-buttons&source=platform" async="async"></script>
        <meta charset="utf-8">
        <title>baykuş evi </title>
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
<meta name="shareaholic:site_id" content="97be313d59d375ab4d60dcc43833e38a" />
<script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
    </head>
    <body>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <h1>lumity.</h1>
            <ul>
                <li><a href="https://github.com/Moy247">Hakkımda</a></li>
                <li><a href="https://www.youtube.com/@Mahryldrmofficial">youtube</a></li>
            </ul>
           <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIZpq4zorRbfM?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
    </body>
    <div class="sharethis-inline-share-buttons"></div>
    <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="33204907"></div>
</html>